colorlog==6.9.0
jmcomic==2.6.4
keyring==25.6.0
openai==1.99.1
Pillow==11.3.0
psutil==7.0.0
PyQt6==6.9.1
pyqt6_frameless_window==0.7.3
pyqt6_sip==13.10.2
pywin32==311
Requests==2.32.4
transformers==4.54.0
uiautomation==2.0.28
keyboard==0.13.5